@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
  position: relative;
  width: 1088px;
  height: 1360px;
  font-family: 'Arial, sans-serif';
}
#template {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#dynamic-content {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.explorer-name-text, .explorer-score-text {
  position: absolute;
  left: 13px;
  font-size: 38px;
  color: black;
  font-style: bold;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  white-space: nowrap;
}

.explorer-name-text {
  top: -8px;
}

.explorer-score-text {
  top: 19px;
}

.region-text, .district-text  {
  font-size: 32px;
/*  font-style: bold;*/
/*  font-weight: bold;*/
  color: black;
  white-space: nowrap;  /* Prevent wrapping */
  font-family: 'Crimson Pro', serif; /* Change this to Crimson Pro */
  position: absolute;
  bottom: 240px; /*250px;*/
}

.region-text {
  left: 13px;
}

.district-text {
  right: 18px; /* 10px before the right edge */
  left: auto; /* ensures the left property doesn't interfere */
}

.date-text {
  font-size: 22px;
  font-style: italic;
  font-family: 'Crimson Pro', serif; /* Change this to Crimson Pro */
  color: #154854;
  white-space: nowrap;  /* Prevent wrapping */
  position: absolute;
  bottom: -6px;
  right: 5px; /* 10px before the right edge */
  left: auto; /* ensures the left property doesn't interfere */
}

.bird-text {
  position: absolute;
  font-family: 'Roboto Slab', serif; /* Change this to Roboto Slab */
  font-size: 29px;
  color: black;
  top: 455px; /* Adjusted to be directly below the bird image (200px + 212px) */
  right: 25px;
  width: 330px; /* Set to the same width as the bird image */
  word-wrap: break-word;  /* Ensure the text wraps within the box */
  box-sizing: border-box; /* To ensure padding and border don't affect the width */
  color: black; /* Adjust text color */
}
.photographer-text {
  position: absolute;
  text-align: right; /* Ensure the text aligns to the right */
  top: 197px; /* Adjusted to be directly below the bird image (200px + 212px) */
  right: 24px;
  font-family: 'Crimson Pro', serif;
  font-size: 20px; /* One point smaller than date-text */
  color: black;
  white-space: nowrap; /* Prevent wrapping */
}

.map-image, .bird-image {
  top: 200px;
  position: absolute;
  object-fit: cover;
}

.map-image {
  left: 0px; /*25px;*/
  width: 650px;
  height: 592px; /* 522;*/
  object-fit: contain;
}

#map-image .leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.bird-image {
  right: 50px;
  width: 300px;
  height: 212px;
}
